#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px;
  margin-bottom: 15px;
  /* border: 2px solid var(--tertiary-color);
  border-radius: 10px; */
}

#projects p {
  font-size: 22px;
  font-weight: lighter;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

/* PROJECT START */
#kit h3 {
  font-size: 28px;
  font-weight: normal;
  text-align: center;
}

#kit {
  display: flex;
  flex-wrap: wrap;
  height: 1300x;
  width: 1345px;
  margin: 15px;
  padding: 15px;
  border: 2px solid var(--tertiary-color);
  border-radius: 10px;
  justify-content: center;
}

#kit a {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  text-align: center;
  font-size: 25px;
  font-weight: lighter;
  padding: 20px;
  color: var(--secondary-color);
  text-decoration: none;
}

#kit a:hover {
  color: var(--tertiary-color);
}
.kit-image {
  height: 600px;
  width: 1200px;
  border-radius: 15px;
}
/* END */

/* PROJECT START */
#note-taker {
  display: flex;
  flex-wrap: wrap;
  height: 600x;
  width: 650px;
  margin: 15px;
  padding: 15px;
  border: 2px solid var(--tertiary-color);
  border-radius: 10px;
  justify-content: center;
}

#note-taker h3 {
  font-size: 28px;
  font-weight: normal;
  text-align: center;
}
#note-taker a {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  font-size: 25px;
  font-weight: lighter;
  padding: 20px;
  color: var(--secondary-color);
  text-decoration: none;
}

#note-taker a:hover {
  color: var(--tertiary-color);
}

.note-taker {
  height: 300px;
  width: 600px;
  border-radius: 15px;
}
/* END */

/* PROJECT START */
#weather-app {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 650px;
  margin: 15px;
  padding: 15px;
  border: 2px solid var(--tertiary-color);
  border-radius: 10px;
  justify-content: center;
}

#weather-app h3 {
  font-size: 28px;
  font-weight: normal;
  text-align: center;
}

#weather-app a {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  font-size: 25px;
  font-weight: lighter;
  padding: 20px;
  color: var(--secondary-color);
  text-decoration: none;
}

#weather-app a:hover {
  color: var(--tertiary-color);
}

.weather {
  height: 350px;
  width: 700px;
  border-radius: 15px;
}
/* END */

/* PROJECT START */

#rapid-quiz {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 650px;
  margin: 15px;
  padding: 15px;
  border: 2px solid var(--tertiary-color);
  border-radius: 10px;
  justify-content: center;
}

#rapid-quiz h3 {
  font-size: 28px;
  font-weight: normal;
  text-align: center;
}

#rapid-quiz a {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  font-size: 25px;
  font-weight: lighter;
  padding: 20px;
  color: var(--secondary-color);
  text-decoration: none;
}

#rapid-quiz a:hover {
  color: var(--tertiary-color);
}

.quiz {
  height: 350px;
  width: 700px;
  border-radius: 15px;
}
/* END */

/* PROJECT START */
#workday {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 650px;
  margin: 15px;
  padding: 15px;
  border: 2px solid var(--tertiary-color);
  border-radius: 10px;
  justify-content: center;
}

#workday h3 {
  font-size: 28px;
  font-weight: normal;
  text-align: center;
}

#workday a {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  font-size: 25px;
  font-weight: lighter;
  padding: 20px;
  color: var(--secondary-color);
  text-decoration: none;
}

#workday a:hover {
  color: var(--tertiary-color);
}

.workday {
  height: 300px;
  width: 600px;
  border-radius: 15px;
}
/* END */

/* PROJECT START */
#password-generator {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 650px;
  margin: 15px;
  padding: 15px;
  border: 2px solid var(--tertiary-color);
  border-radius: 10px;
  justify-content: center;
}

#password-generator h3 {
  font-size: 28px;
  font-weight: normal;
  text-align: center;
}

#password-generator a {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  font-size: 25px;
  font-weight: lighter;
  padding: 20px;
  color: var(--secondary-color);
  text-decoration: none;
}

#password-generator a:hover {
  color: var(--tertiary-color);
}

.password-generator {
  height: 300px;
  width: 600px;
  border-radius: 15px;
}

.password {
  height: 300px;
  width: 600px;
  border-radius: 15px;
}

  /* @media screen and (max-width: 600px) {
  #projects p {
    font-size: 20px;
    text-align: center;
  }

  .kit-image {
    height: 150px;
    width: 300px;
  }

  .note-taker {
    height: 150px;
    width: 300px;
  }

  .weather {
    height: 150px;
    width: 250px;
  }

  .quiz {
    height: 150px;
    width: 250px;
  }

  .workday {
    height: 150px;
    width: 250px;
  }

  .password {
    height: 150px;
    width: 250px;
  }
}   

@media screen and (min-width: 600px) {
  #projects p {
    font-size: 20px;
    text-align: center;
  }

  #kit a {
    font-size: 20px;
  }

  .kit-image {
    height: 300px;
    width: 600px;
  }

  .note-taker {
    height: 300px;
    width: 600px;
  }

  #note-taker a {
    font-size: 20px;
  }

  .weather {
    height: 300px;
    width: 600px;
  }

  #weather-app a {
    font-size: 20px;
    
  }

  .quiz {
    height: 350px;
    width: 500px;
  }

  #rapid-quiz a {
    font-size: 20px;
  }

  .workday {
    height: 300px;
    width: 600px;
  }

  #workday a{
    font-size: 20px;
  }

  .password {
    height: 300px;
    width: 600px;
  }

  #password-generator a {
    font-size: 20px;
  }
}  


@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

} */