/* RESUME styles start */ 
  
/* #resume {
    
    padding: 80px;
    text-align: center;
    font-weight: lighter;
    font-size: 24px;
    font-style: normal;
    font-weight: lighter;
  } */

  /* #resume a{
    text-decoration: none;
    color: var(--secondary-color);
  } */
  
  /* #resume a:hover {
    color: var(--tertiary-color);
  }
  
   */