/* RESUME styles start */ 
  
#resume {
    margin: 50px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: lighter;
    color: var(--tertiary-color);
    font-size: 24px;
    font-style: normal;
    font-weight: lighter;
  
  }
  
  #resume a:hover {
    color: var(--tertiary-color);
  }
  
  