  #About {
    margin: 50px;
  }
  
  #about-container {
    display: inline-flex;
    justify-content: center;
    padding: 30px;
    margin: 40px;
    border: 2px solid var(--tertiary-color);
    border-radius: 10px;
  }
  
  .selfie img{
    height: 400px;
    width: 315px;
    margin: 30px;
    border-radius: 15px;
  }
  
  #about-container p {
    position: relative;
    margin: 10px;
    padding: 40px;
    font-size: 27px;
    font-weight: lighter;
  }
  
  