  #About {
    margin: 50px;
    /* display: flex;
    flex-wrap: wrap; */
  }
  
  #about-container {
    display: inline-flex;
    justify-content: center;
    padding: 30px;
    margin: 40px;
    border: 2px solid var(--tertiary-color);
    border-radius: 10px;
  }
  
  .selfie img{
    height: 400px;
    width: 315px;
    margin: 30px;
    border-radius: 15px;
  }
  
  #about-container p {
    position: relative;
    margin: 10px;
    margin-top: 80px;
    padding: 40px;
    font-size: 27px;
    font-weight: lighter;
  }
  



  /* @media screen and (max-width: 414px) and (max-height: 915px) {

   

    .selfie img { 
      height: 0px;
      width: 0px;
      margin: 0px;
  }

  #about-container{
    display: flex;
    flex-wrap: wrap;
    height: 800px;
  }

  #about-container p {
    font-size: 18px;
    margin-top: 0px;
    text-align: center;
    padding: 0px;
    margin-top: 0px;
  }

} */