#contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  margin-bottom: 15px;
}

h3 {
  font-size: 30px;
  font-weight: normal;
  /* text-align: center; */
}

label {
  font-size: 20px;
}

#contact-form {
  border: 2px solid var(--tertiary-color);
  border-radius: 10px;
  height: 300px;
  width: 600px;
  text-align: center;
  font-style: normal;
  font-weight: lighter;
  font-size: 30px;
  color: var(--tertiary-color);
  margin: 30px;
}

#form-slot-1 {
  padding-left: 10px;
}

#form-slot-2 {
  padding-right: 90px;
}

/* Extra small devices
@media only screen and (max-width: 600px) {
    #contact-form {
      height: 400px; 
    }

    #form-slot-1 {
      padding-left: 0px;
    }
    
    #form-slot-2 {
      padding-right: 0px;
    }
} */

/* Portrait tablets and large phones, 600px + */
/* @media only screen and (min-width: 600px) {

} */

/* Landscape tablets, 768px + */
/* @media only screen and (min-width: 768px) {

} */

/* Laptops and desktops, 992px + */
/* @media only screen and (min-width: 992px) {

} */

/* Large laptops and desktops, 1200px + */
/* @media only screen and (min-width: 1200px) {

} */