
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 5px;
  }
  
  :root {
    --primary-color: white ;
    --secondary-color:grey; 
    --tertiary-color: silver; 
    --fourth-color: black;
  }
  
  body {
    color: var(--secondary-color);
    font-family: Copperplate, Impact, sans-serif;
  }
  
  /* .example-enter {
    opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  } */
  
  /* Extra small devices */
  @media only screen and (min-width: 320px) and (max-width: 479px) {
  .header { 
    font-size: 30px;
  }

  #nav-titles #title-list .title  {
    font-size: 22px;
  }

  #about #about-container {
    display: flex;
    flex-wrap: wrap;
    height: 1050px;
    
  }

  #about #about-container .selfie img {
    height: 200px;
    width: 160px;
    margin: 0px;
  }

  #about #about-container p {
    font-size: 18px;
    margin: 0px;
    text-align: center;
  }

  #projects p {
    font-size: 20px;
    text-align: center;
  }

  #kit .kit-image {
    height: 150px;
    width: 300px;
  }

  #note-taker .note-taker {
    height: 150px;
    width: 300px;
  }

  #projects #note-taker a {
    font-size: 22px;
  }

  #weather-app .weather {
    height: 150px;
    width: 300px;
  }

  #projects #weather-app a {
    font-size: 22px;
  }

  #rapid-quiz .quiz {
    height: 175px;
    width: 300px;
  }

  #projects #rapid-quiz a {
    font-size: 22px;
  }

  #workday .workday {
    height: 150px;
    width: 300px;
  }

  #projects #workday a {
    font-size: 22px;
  }


  #password-generator .password {
    height: 150px;
    width: 300px;
  }

  #projects #password-generator a {
    font-size: 22px;
  }

  #contact-container #contact-form{
    height: 575px;
  }

  #contact-container #contact-form #form-slot-1 {
    padding: 47px;
  }
  
  #contact-container #contact-form #form-slot-2 {
    padding: 40px;
  }

  #contact-container #contact-form #form-slot-3 {
    padding: 20px;
  }

  footer div a{
    font-size: 20px;
  }
}

/* Portrait tablets and large phones, 600px + */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #about #about-container {
    display: flex;
    flex-wrap: wrap;
    height: 950px;
    padding: 10px;
  }

  #about #about-container p {
    font-size: 18px;
    margin-top: 0px;
    text-align: center;
  }

  #projects p {
    font-size: 20px;
    text-align: center;
  }

  #kit .kit-image {
    height: 250px;
    width: 500px;
  }

  #note-taker .note-taker {
    height: 250px;
    width: 500px;
  }
  

  #projects #note-taker a {
    font-size: 22px;
  }

  #weather-app .weather {
    height: 250px;
    width: 500px;
  }

  #projects #weather-app a {
    font-size: 22px;
  }

  #rapid-quiz .quiz {
    height: 250px;
    width: 500px;
  }

  #projects #rapid-quiz a {
    font-size: 22px;
  }

  #workday .workday {
    height: 250px;
    width: 500px;
  }

  #projects #workday a {
    font-size: 22px;
  }


  #password-generator .password {
    height: 250px;
    width: 500px;
  }

  #projects #password-generator a {
    font-size: 22px;
  }

  #contact-container #contact-form{
    height: 385px;
  }

  #contact-container #contact-form #form-slot-1 {
    padding-left: 60px;
  }
  
  #contact-container #contact-form #form-slot-2 {
    padding-right: 40px;
  }

  #contact-container #contact-form #form-slot-3 {
    padding: 20px;
  }

}

/* Landscape tablets, 768px + */
@media only screen and (min-width: 768px) and (max-width: 979px) {
  #about #about-container {
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    padding: 10px;
  }

  #about #about-container p {
    font-size: 18px;
    margin-top: 0px;
    text-align: center;
  }

  #projects p {
    font-size: 20px;
    text-align: center;
  }

  #kit .kit-image {
    height: 250px;
    width: 500px;
  }

  #note-taker .note-taker {
    height: 250px;
    width: 500px;
  }
  

  #projects #note-taker a {
    font-size: 22px;
  }

  #weather-app .weather {
    height: 250px;
    width: 500px;
  }

  #projects #weather-app a {
    font-size: 22px;
  }

  #rapid-quiz .quiz {
    height: 250px;
    width: 500px;
  }

  #projects #rapid-quiz a {
    font-size: 22px;
  }

  #workday .workday {
    height: 250px;
    width: 500px;
  }

  #projects #workday a {
    font-size: 22px;
  }


  #password-generator .password {
    height: 250px;
    width: 500px;
  }

  #projects #password-generator a {
    font-size: 22px;
  }

  #contact-container #contact-form{
    height: 300px;
  }

  #contact-container #contact-form #form-slot-1 {
    padding-left: 10px;
  }
  

}

/* Laptops and desktops, 992px + */
@media only screen and (min-width: 980px) and (max-width: 1024px) {
  #kit .kit-image {
    height: 350px;
    width: 700px;
  }

  #note-taker .note-taker {
    height: 300px;
    width: 600px;
  }

  #weather-app .weather {
    height: 300px;
    width: 600px;
  }

  #workday .workday {
    height: 300px;
    width: 600px;
  }

  #rapid-quiz .quiz {
    height: 300px;
    width: 600px;
  }


  #password-generator .password {
    height: 250px;
    width: 500px;
  }
}