  /* NAV styles start */
  
  #nav-titles {
    position: sticky;
    top: 0; 
    background-color: var(--primary-color);
    z-index: 999;
  }
  
  #title-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

  #nav-titles a{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    padding: 5px;
    font-size: 36px;
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: lighter;
  }
  
  #nav-titles a:hover {
    color: var(--tertiary-color);
  }
  
  @media screen and (max-width: 480px) {
    #nav-titles a{
      font-size: 30px;
    }
  }

  @media screen and (max-width: 820px) {
    #nav-titles a{
      font-size: 30px;
    }
  }